	html, body {
		background-color: white;
		margin: 0px;
		padding: 0px;
		font-family: sans-serif;
		height: 100%;
	}


	header{
		justify-content: space-between;
		background-color: #3B3B3B;
		display: flex;
		align-items: center;
		box-sizing: border-box;
		padding: 10px;
		height: 50px;
		position: relative;
		z-index: 10;
	}
	#title{
		color: white;
		font-size: 24px;
		font-weight: bold;
	}
	ul{
		display: flex;
		list-style: none;
  		text-align: center;
  		padding: 0;
  		margin: 0;
	}
	ul li {
	  display: inline-block;
	  position: relative;
	  cursor: pointer;
	}

	ul li a {
	  display: block;
	  color: white;
	  text-decoration: none;
	  font-size: 13px;
	  padding: 10px 15px;
	}

	ul li ul.dropdown {
	  position: absolute;
	  left: 50%;              
	  top: 100%;            
	  transform: translateX(-50%);
	  display: none;
	  background-color: #3B3B3B;
	  padding: 0;
	  margin: 0;
	  list-style: none;
	  z-index: 999;
	}

	ul li ul.dropdown li {
	  display: block;
	  text-align: center;
	}

	ul li a:hover,
	ul li:hover > a {
	  text-decoration: underline;
	  background-color: #3B3B3B;
	}

	ul li:hover ul.dropdown {
	  display: block;
	}


	.top-img {
		background-image: url('../img/cities.jpg');
		background-size: cover;         /* makes the image fill the div */
		background-repeat: no-repeat;   /* prevents the image from repeating */
		background-position: center;    /* centers the image */
		height: 100vh;  
		margin: 0px;                /* full viewport height */
		background: 
	        linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), /* dark overlay */
	       	url('../img/cities.jpg') center/cover no-repeat;
		display: flex;
		flex-direction: column;   /* stack items vertically */
		justify-content: center;  /* center vertically */
		align-items: center;      /* center horizontally */
		color: white;
		text-align: center;
	}
	h1#title{
		font-size: 80px;
		margin-bottom: 10px;
		text-shadow: 5px 5px 15px black;
	}
	#intro{
		font-size: 20px;
		margin: 0px;
		word-spacing: 8px;
		text-shadow: 5px 3px 8px black;
	}
	.top-img-d {
		background-image: url('../img/dublin.jpg');
		background-size: cover;         
		background-repeat: no-repeat;   
		background-position: center; 
		height: 100vh;  
		margin: 0px;   
		background: 
	        linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), 
	       	url('../img/dublin.jpg') center/cover no-repeat;
		display: flex;
		flex-direction: column; 
		justify-content: center; 
		align-items: center;   
		color: white;
		text-align: center;
		font-size: 50px;
		text-shadow: 5px 5px 8px black;
	}
	.top-img-l {
		background-image: url('../img/london.jpg');
		background-size: cover;         
		background-repeat: no-repeat;   
		background-position: center; 
		height: 100vh;  
		margin: 0px;   
		background: 
	        linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), 
	       	url('../img/london.jpg') center/cover no-repeat;
		display: flex;
		flex-direction: column; 
		justify-content: center; 
		align-items: center;   
		color: white;
		text-align: center;
		font-size: 50px;
		text-shadow: 5px 5px 8px black;
	}
	.top-img-p {
		background-image: url('../img/Paris2.jpg');
		background-size: cover;         
		background-repeat: no-repeat;   
		background-position: center; 
		height: 100vh;  
		margin: 0px;   
		background: 
	        linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), 
	       	url('../img/Paris2.jpg') center/cover no-repeat;
		display: flex;
		flex-direction: column; 
		justify-content: center; 
		align-items: center;   
		color: white;
		text-align: center;
		font-size: 50px;
		text-shadow: 5px 5px 8px black;
	}


	.boxs{
		display: flex;
		flex-direction: row;
		justify-content: space-evenly;
		padding-top: 10px;
		padding-left: 5px;
		padding-bottom: 0px;
	}
	.city-guide{
		flex: 33.33%;
		background-color: #F5F5F5;
		padding: 10px;
		margin: 5px;
		border-radius: 15px;
	}
	table{
		font-family: sans-serif;
		border-collapse: collapse;
		width: 100%;
	}
	td, th{
		border: 1px solid black;
		text-align: left;
		padding: 8px;
	}
	iframe{
		width: 95%;
		height: 70%;
		display: block;
  		margin: 0 auto;
  		border: none;
	}


	body.contactpage{
	background-image: url("../img/cityveiw1.jpg"); 
	background-color: #cccccc;
	background-repeat: no-repeat; 
  	background-size: cover;       
  	background-position: center;
	margin: 0;
	padding: 0;
	height: 100vh;
	}
	h1.contactheading{
		text-align: center;
	}
	input[type=text], select, textarea{
		width: 100%;
		padding: 12px;
		border: 1px solid #ccc;
		border-radius: 4px;
		box-sizing: border-box;
		margin-top: 6px;
		margin-bottom: 16px;
		resize: vertical;
	}
	input[type=text]{
		color: black;
		padding: 12px 20px;
		border-radius: 4px;
		cursor: pointer;
	}
	input[type=submit]{
		color: white;
		background-color: #3B3B3B;
		cursor: pointer;
	}
	input[type=submit]:hover{
		background-color: #4d4d4d;
	}

	.contact{
  		width: 50%;
  		height: 50%px;
 		margin: 0 auto;
 		margin-top: 125px;
  		border-radius: 15px;
  		background-color: rgba(242, 242, 242, 0.8);
  		margin-bottom: 106px;
  		padding: 20px;
	}
	footer.contactfooter{
		position: fixed;
   		left: 0;
   		bottom: 0;
   		width: 100%;
		text-align: center;
		margin-top: 40px;
		padding: 10px;
		font-size: 14px;
		background-color: black;
		color: white;
	}



	footer {
		text-align: center;
		margin-top: 40px;
		padding: 10px;
		font-size: 14px;
		background-color: black;
		color: white;
	}